sudo: required

language: ruby

services:
  - docker

install:
  - docker pull cloudmesh/technologies:1.1

script:
  - docker run cloudmesh/technologies:1.1 /bin/sh -c "cd technologies; git pull && make chars && make"

